<header class="mb-5">
    <nav class="navbar-dark navbar-expand-lg navbar bg-primary">
        <div class="container container-fluid">
            <div class="navbar-brand">
                <h1 class="display-5 text-white"><a class="text-white" href="/">E-Wallet Application</a></h1>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/wallet/userWallet?username=<%=userWallet.username%>">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/wallet/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>